.moviesCard{
    display: flex;
    flex-direction: column;
    position: relative;
}

.moviesCard__base{
    display: flex;
    flex-direction: row;
    max-width: 360px;
    justify-content: space-between;
    align-items: center;
}

.moviesCard__name{
    color: white;
    font-family:"Inter", 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.2;
    margin-left: 5px;
}

.moviesCard__duration{
    color: #8B8B8B;
    font-family:"Inter", 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 11px;
    line-height: 0.99;
    background-color: #424242; 
    width: 52px;
    height: 18px;
    border-radius: 2px;
    text-align: center;
    margin: 0;
    padding-top: 6px;

}

.moviesCard__delete-button{
    width: 21px;
    height: 21px;
    background-color: #313131;
    border: 1px solid #313131;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: .3;
    display: flex;
    align-items: center;
    justify-items: center;
}

.moviesCard__delete-ico{
    width: 8px;
    height: 8px;
}

.moviesCard__delete-button:hover{
    transform: scale(1.2);
}